html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { 	margin: 0;padding: 0;border: 0;font-size: 100%; font: inherit; vertical-align: baseline;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block;}
body {  xbackground-image:url('../images/bg.jpg'); background-repeat:repeat-x;  background-attachment: fixed;  background-position: center bottom; font:13px/1.6 "Lucida Grande","Lucida Sans Unicode","Helvetica Neue","Helvetica",verdana,arial,sans-serif; }
ol, ul { 	list-style: none;}
a:focus {
outline: 0;
}
a{outline:0;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {	content: '';content: none;}
table { border-collapse: collapse;border-spacing: 0; } /*End of Reset*/
body{margin:0px; padding:0px; background-color:#fff;   font: 13px/1.6 "Lucida Grande","Lucida Sans Unicode","Helvetica Neue","Helvetica",verdana,arial,sans-serif;}
#mcon{ width:240px;padding:1px;}
.clear{clear:both;}
#hdr{}
.hdr-logo{ float:left;border:1px solid #8dc9e8; width:109px; height:42px; padding-top:5px; padding-left:8px;}
.hdr-logo img{padding-right:2px;}
.hdr-ltxt{ font-size:18px; color:#005b82; border-left:1px solid #ccc; padding-left:5px;}
.hdr-out{float:left;border:1px solid #8dc9e8; width:59px; height:47px; margin-left:1px;  text-align:center; background:url('../img/lug-out.png'); background-repeat:no-repeat;
     background-position: top; filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );zoom:1;  }
.hdr-out span{position:relative; top:25px; }
.hdr-logot{float:left; background-color:#FFD302; width:43px; height:44px;margin-left:1px; padding-left:13px; padding-top:5px;}
#tit{border:1px solid #8dc9e8; height:27px; margin-top:1px; margin-bottom:1px; width:236px;}
.tit-lft{float:left; line-height:27px; padding-left:5px; }
.tit-rht{float:right; background:url('../img/driver.png'); background-repeat:no-repeat;  height:27px;  background-position: left; }
.tit-rht span{padding-left:25px; line-height:27px; padding-right:5px}
#cont{pointer:cursor;}
.cont{height:79px; width:118px; background-color:#24CEFF; float:left; border-right:1px solid #fff; border-bottom:1px solid #fff; color:#fff;}
.cont_a{height:79px; width:118px; background-color:#24CEFF; float:left; border-right:1px solid #24CEFF; border-bottom:1px solid #fff; color:#fff;}
.cont_o{height:79px; width:118px; background-color:#fccf03; float:left; border-right:1px solid #fff; border-bottom:1px solid #fff; color:#fff;}
.flt{background:url('../img/airbig.png') left center;  background-repeat:no-repeat; height:50px; margin-left:10px;}
.flttxt{font-size:15px; color:#FFF; position:relative;  top:12px; left:25px; font-family: "Lucida Grande","Lucida Sans Unicode","Helvetica Neue","Helvetica",verdana,arial,sans-serif;}
.time{text-align:right; font-size:15px; padding-right:5px; color:#000; xbackground:url('../img/Clock-24.png') right; background-repeat:no-repeat; margin-right:1px;}
.timetxt{font-size:15px;font-family: "Lucida Grande","Lucida Sans Unicode","Helvetica Neue","Helvetica",verdana,arial,sans-serif; position:relative; right:px; top:-1px;}

/*Model Pop-Up Window*/
.web_dialog_overlay {position: absolute; top: 0; right: 0; bottom: 0;  left: 0; height: 320px; width: 100%; background: #000000;  filter: alpha(opacity=15); z-index: 101;  display:none;}
.web_dialog{display: none; position: absolute;width: 220px;height: 100px; top: 50%; left: 8px; background-color: #ffffff; border: 1px solid #00a1de; padding: 0px; z-index: 102; }
.web_dialog_title{ padding: 10px;}

/*Page 2*/
.tab-d{border:1px solid #00a1de}
.tab-d thead th { background-color:#00a1de; border-right:1px solid #fff; vertical-align:middle; filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); zoom:1;}
.tab-d thead{color:#fff;}
.tab-d tr td{ border-bottom:1px dotted #00a1de; text-align:center; font-size:13px;font-family: "Lucida Grande","Lucida Sans Unicode","Helvetica Neue","Helvetica",verdana,arial,sans-serif;  padding-top:5px; padding-bottom:3px}
.btnarea{ margin-top:1px; border:1px solid #00a1de; width:236px;}
.btnarealft{ float:left; height:30px; width:118px; height:30px; background-color:#ccc;}
.btnarearht{ float:right; height:30px; width:118px; height:30px; background-color:#ff0}
.bverify{ height:30px; border-left:1px solid #fff; color:#fff; font-size:16px; text-align:center; background:url('../img/blu-g.jpg'); background-repeat:repeat-x;}
.breject{ height:30px; color:#fff; font-size:16px; text-align:center; background:url('../img/orn-g.jpg'); background-repeat:repeat-x;}

/*Page3*/

.main{width:238px;}
.tab-aB tr td { padding:5px; border-bottom:1px dotted #8dc9e8;}
.tab-er{border-right:1px solid #ccc;border-bottom:1px solid #ccc; width:30px;}
.tab-er img{ margin-left:5px;}

.site-header-wrap {
	margin-bottom:60px;
	border-bottom:1px solid #cd9ad6;
}

/*------------------------------------*\
-------- DEMO Code: accordion
\*------------------------------------*/
/*----- Accordion -----*/
.accordion, .accordion * {
	-webkit-box-sizing:border-box; 
	-moz-box-sizing:border-box; 
	box-sizing:border-box;
}

.accordion {
	
	border:1px solid #8dc9e8 ;
	border-top:0px;
	
}

/*----- Section Titles -----*/
.accordion-section-title { width:205px;color:#fff;float:left; background-color:#00a1de; height:25px; border-top:1px solid #8dc9e8 ; font-size:15px; padding:3px;}
.accordion-check
{ float:right;
 width:24px;
 border-top:1px solid #8dc9e8; border-left:1px solid #fff;
height:31px;
 background-color:#5E5F67;
}
.accordion-check input{ width:20px;}
.accordion-section-title.active, .accordion-section-title:hover {
	background:#B7D967;
	/* Type */
	text-decoration:none;
}

.accordion-section:last-child .accordion-section-title {
	border-bottom:none;
}

/*----- Section Content -----*/
.accordion-section-content {
	border-bottom:1px solid #8dc9e8;
	
	display:none;
}