html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { 	margin: 0;padding: 0;border: 0;font-size: 100%; font: inherit; vertical-align: baseline;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block;}
body {  xbackground-image:url('../images/bg.jpg'); background-repeat:repeat-x;  background-attachment: fixed;  background-position: center bottom; font:13px/1.6 "Lucida Grande","Lucida Sans Unicode","Helvetica Neue","Helvetica",verdana,arial,sans-serif; }
ol, ul { 	list-style: none;} a:focus {outline: 0;} a{outline:0;} blockquote, q {quotes: none;}blockquote:before, blockquote:after, q:before, q:after {	content: '';content: none;}
table { border-collapse: collapse;border-spacing: 0; } /*End of Reset*/
body{margin:0px; padding:0px; background-color:#fff;   font: 13px/1.6 "Lucida Grande","Lucida Sans Unicode","Helvetica Neue","Helvetica",verdana,arial,sans-serif; color:#003145;}
/*Common*/
#layout-width{ width:240px;padding:1px;}
.clear{clear:both;}
.grn{ background:#30b013 !important; color:#fff;}
.blu{ background:#0da6e0!important;}
.orn{background:#ee862e !important;}
.red{background:#f70000 !important;}
.strikeout{text-decoration: line-through;}
/*Welcome*/
.klm-wel-bdr{border:1px solid #0da6e0; height:298px; padding:10px;}
.klm-wel-bot-bdr{border-bottom:1px solid #0da6e0; height:50px}
.klm-wel-hdr-logo{ float:left;width:109px; height:42px; padding-top:5px; padding-left:8px;}
.klm-wel-hdr-logo img{padding-right:2px;}
.klm-rtp-wel-hdr-logo{ font-size:18px; color:#005b82; border-left:1px solid #ccc; padding-left:5px;}
.hdr-wel-txt{padding-top:5px; text-align:right; font-size:13px;}
.hdr-wel-ride-txt{padding-top:5px;  font-size:15px; color:#005b82; font-weight:bold; margin-bottom:10px;}
.klm-blu-btn{ cursor:pointer;height:35px; color:#fff;  background:#0da6e0; margin-bottom:10px;border:1px solid #0da6e0; text-align:center; font-size:18px;  }
.klm-wel-scroll{ height:150px; overflow-x:auto}
.klm-fot{border-top:1px solid #0da6e0; height:30px; text-align:center; line-height:30px; margin-top:10px }

/*Header*/
.klm-hdr-logo{ float:left;border:1px solid #0da6e0; width:109px; height:42px; padding-top:5px; padding-left:8px; cursor:pointer;}
.klm-hdr-logo img{padding-right:2px;}
.klm-hdr-rtp-logo{ font-size:18px; color:#005b82; border-left:1px solid #ccc; padding-left:5px;}
.hdr-dir-out{float:left;border:1px solid #0da6e0; width:59px; height:47px; margin-left:1px;  text-align:center; background:url('../img/lug-out.png'); background-repeat:no-repeat;
     background-position: top;  }
.hdr-dir-out span{position:relative; top:25px; }
.hdr-logout{cursor:pointer;float:left; background-color:#ee862e; width:43px; height:44px;margin-left:1px; padding-left:13px; padding-top:5px;}
#rtp-title{border:1px solid #0da6e0; height:27px; margin-top:1px; margin-bottom:1px; width:236px;}
.rtp-title-lft{float:left; line-height:27px; padding-left:5px; color:#005b82 }
.rtp-title-rht{float:right; background:url('../img/driver.png'); background-repeat:no-repeat;  height:27px;  background-position: left;color:#005b82  }
.rtp-title-rht span{padding-left:25px; line-height:27px; padding-right:5px}
/*Home Page*/
#layout-tile{pointer:cursor;}
.tile-lft{height:79px; width:118px; background-color:#0da6e0; float:left; border-right:1px solid #fff; border-bottom:1px solid #fff; color:#fff; cursor:pointer;}
.tile-rht{height:79px; width:118px; background-color:#0da6e0; float:left; border-right:1px solid #0da6e0; border-bottom:1px solid #fff; color:#fff;cursor:pointer;}
.tile-flight{background:url('../img/airbig.png') left center;  background-repeat:no-repeat; height:50px; margin-left:10px;}
.tile-flight-combo{background:url('../img/airbig_1.png') left center;  background-repeat:no-repeat; height:50px; margin-left:10px;}
.tile-flight-txt{font-size:15px; color:#FFF; position:relative;  top:12px; left:25px; font-family: "Lucida Grande","Lucida Sans Unicode","Helvetica Neue","Helvetica",verdana,arial,sans-serif;}
.tile-time{text-align:right; font-size:15px; padding-right:5px; color:#000; margin-right:1px;}
.tile-time-txt{font-size:15px;font-family: "Lucida Grande","Lucida Sans Unicode","Helvetica Neue","Helvetica",verdana,arial,sans-serif; position:relative; right:px; top:-1px;}

/*Model Pop-Up Window*/
.web_dialog_overlay {position: absolute; top: 0; right: 0; bottom: 0;  left: 0; height: 320px; width: 100%; background: #000000;  filter: alpha(opacity=15); z-index: 101;  display:none;}
.web_dialog{display: none; position: absolute;width: 220px;height: 100px; top: 50px; left: 8px; background-color: #ffffff; border: 1px solid #00a1de; padding: 0px; z-index: 102; margin-bottom:10px; padding-bottom:10px; }
.web_dialog_title{ padding: 10px;}

.web_dialog-error{display: none; position: absolute;width: 220px;top: 10px; left: 8px; background-color: #ffffff; border: 1px solid #00a1de; padding: 0px; z-index: 102; }
.web_dailog_hdr{font-size:15px; border-bottom:1px solid #ccc; height:20px; padding:5px;}
.web_dailog_hdr-lft{float:left; width:170px;}
.web-btn-close{  float:right; width:20px; background:url("../img/close.png") ; background-repeat:no-repeat; cursor:pointer;}
.inWlbnr{margin-top:10px; text-align:right; padding-right:10px;}
.btnblu{height:30px; width:80px; background-color:#00a1de; border:1px solid #ccc; color:#fff;}


/*Page3*/

.main{width:238px;}
.accordion-content-table tr td { padding:5px; border-bottom:1px dotted #8dc9e8;}
.accordion-error-report{border-right:1px solid #ccc;border-bottom:1px solid #ccc; width:30px; cursor:pointer;}
.accordion-error-report img{ margin-left:5px;}
.site-header-wrap {	margin-bottom:60px;	border-bottom:1px solid #cd9ad6;}
.accordion, .accordion * {	-webkit-box-sizing:border-box; 	-moz-box-sizing:border-box; 	box-sizing:border-box;}
.accordion {	border:1px solid #8dc9e8 ;border-top:0px;}
.accordion-section-title { width:205px;color:#fff;float:left; background-color:#00a1de; height:24px; border-top:1px solid #8dc9e8 ; font-size:15px; padding:3px;
background:url('../img/blu-bg.jpg'); background-repeat:repeat-x;}
.accordion-check { float:right; width:24px; border-top:1px solid #8dc9e8; border-left:1px solid #fff; height:30px; background:url('../img/blu-bg.jpg'); background-repeat:repeat-x; }
.accordion-section-title.active, .accordion-section-title:hover {background:#30b013;	text-decoration:none; border-bottom:1px dotted #00a1de; }
.accordion-section:last-child .accordion-section-title {	border-bottom:none;}
.accordion-section-content {	border-bottom:1px solid #8dc9e8;display:none;}

.btn-area{ margin-top:1px; border:1px solid #00a1de; width:236px;}
.btn-area-lft{ float:left; height:30px; width:98px; height:30px; background-color:#ccc;}
.btn-area-cen{width:39px; float:left; border-left:1px solid #ee862e; height:30px; background:url('../img/grn-g.jpg'); background-repeat:repeat-x; cursor:pointer;}
.btn-area-cen img{position:relative; left:10px; top:5px;}
.btn-area-rht{ float:right; height:30px; width:98px; height:30px; background-color:#ff0}
.btn-verify{ height:30px; border-left:1px solid #00a1de; color:#fff; font-size:16px; text-align:center; background:url('../img/blu-g.jpg'); background-repeat:repeat-x;cursor:pointer;}
.btn-reject{ height:30px; color:#fff; font-size:16px; text-align:center; background:url('../img/orn-g.jpg') ; background-repeat:repeat-x;cursor:pointer;}
.bdr{ border:1px solid #00a1de; margin-bottom:2px;}
.chkbox{height:30px; width:25px; border:1px solid #ccc;}



