html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { 	margin: 0;padding: 0;border: 0;font-size: 100%; font: inherit; vertical-align: baseline;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block;}
body {  xbackground-image:url('../images/bg.jpg'); background-repeat:repeat-x;  background-attachment: fixed;  background-position: center bottom; font:13px/1.6 "Lucida Grande","Lucida Sans Unicode","Helvetica Neue","Helvetica",verdana,arial,sans-serif; }
ol, ul { 	list-style: none;}
a{outline:none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {	content: '';content: none;}
table { border-collapse: collapse;border-spacing: 0; } /*End of Reset*/
#mctn{width:240px; padding:1px;}
#hdr{height:38px; border:1px solid #00a1de;}
#tit{height:29px; background-color: #E37222; margin-top:1px;}
#midlyr{}
#midlyr table tr td{background-color:#00a1de; border:1px solid #fff; height:75px}
#fdr{height:20px; border:1px solid #ccc;}
